{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<form action="/buy" method="post">
    <div class="mb-3">
        <label for="symbol" class="form-label">Symbol:</label>
        <input required autocomplete="off" id="symbol" name="symbol" type="text" class="form-control mx-auto w-auto">
    </div>
    <div class="mb-3">
        <label for="shares" class="form-label">Count shares:</label>
        <input required autocomplete="off" id="shares" name="shares" type="number" min="1" class="form-control mx-auto w-auto">
    </div>
    <button type="submit" class="btn btn-primary">Buy</button>
</form>
{% endblock %}
