{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <p><b>Balance: </b><span id="balance">Loading...</span></p>
    <p><b>Global balance: </b><span id="global_balance">Loading...</span></p>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Count</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody id="positions">
            <tr>
                <td id="positions_plug" colspan="4" style="text-align: center">Loading...</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block body %}
    <script src="static/render_portfolio.js"></script>
{% endblock %}
