{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <p><b>Balance:</b> {{ balance }}</p>
    <p><b>Global balance:</b> {{ global_balance}}</p>
    <hr>
    {% if not position_table %}
        <p><b>You have no open positions.</b></p>
    {% else %}
        <p><b>Your positions:</b></p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Count</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for position in position_table %}
                    <tr>
                        <td>{{ position.stock_symbol }}</td>
                        <td>{{ position.stock_count }}</td>
                        <td>{{ position.stock_price }}</td>
                        <td>{{ position.total_price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
